/* 修改发布框文本框 */
.el-textarea__inner {
    background:transparent;
    color:black;
    resize: none;
    border: 0;
    font-size: 23px;
    outline: none;
}
.el-textarea__inner:focus {
    border: 2px solid royalblue;
    
    box-shadow: none;
}

.el-textarea__inner::placeholder {
    color: rgb(68, 66, 66);
}
.el-dropdown-menu__item {
height: 2.5em;
width: 5em;
display: flex;
align-items: center;
justify-content: center;

}
/* 修改elui 日期框 */
.el-input .el-input--default .el-input--prefix el-input--suffix el-date-editor el-date-editor--date el-tooltip__trigger el-tooltip__trigger
.el-input__inner {
    width: 100%;

}
.el-date-editor.el-input, .el-date-editor.el-input__inner {
    width: 50%;
    padding: 5px;
    border-radius: 10px;
    
}
.el-date-editor.el-input, .el-date-editor.el-input__inner:focus {
    border: 3px solid royalblue;
}