<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- 若要更改此配置文件。先进行交流 -->

    <!-- 父容器 -->
    <!-- 扫描 wblog 的 Bean -->
    <context:component-scan base-package="com.xhy.wblog">
        <!-- Controller是子容器 -->
        <!-- 屏蔽掉这个子容器    -->
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!-- 读取配置文件 (注意使用的环境) -->
    <context:property-placeholder location="classpath*:druid.properties"/>

    <!-- 配置数据源对象 -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${dev.driverClass}"/>
        <property name="url" value="${dev.url}"/>
        <property name="username" value="${dev.username}"/>
        <property name="password" value="${dev.password}"/>
        <property name="initialSize" value="${dev.initialSize}"/>
        <property name="maxActive" value="${dev.maxActive}"/>
        <property name="maxWait" value="${dev.maxWait}"/>
    </bean>

    <!-- 拿到sqlSessionFactory对象， 这里整合了 Mybatis-plus -->
    <bean id="sqlSessionFactory" class="com.baomidou.mybatisplus.extension.spring.MybatisSqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!-- 领域模型所在包 -->
        <property name="typeAliasesPackage" value="com.xhy.wblog.entity"/>
        <!--  使用 Mybatis-plus 集成的分页插件，若有分页展示需求，百度用法即可  -->
        <property name="plugins">
            <array>
                <bean class="com.baomidou.mybatisplus.extension.plugins.MybatisPlusInterceptor"/>
            </array>
        </property>
        <!-- mapper映射文件存储地址 -->
        <property name="mapperLocations" >
            <array>
                <value>classpath*:mapper/*.xml</value>
            </array>
            <!-- 还可配置其他的东西。 -->
        </property>
    </bean>

    <!-- 扫描Dao -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.xhy.wblog.dao"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>

    <!-- 事务管理 -->
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!-- 启用与之对应的注解的形式 -->
    <tx:annotation-driven transaction-manager="txManager"/>


</beans>