<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 默认状态即可,更改配置文件先交流 -->

    <!-- 加载 子容器（controller） -->
    <context:component-scan base-package="com.xhy.wblog.controller"/>
    <!-- 解决乱码问题 -->
    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="defaultCharset" value="UTF-8"/>
            </bean>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="defaultCharset" value="UTF-8"/>
            </bean>
            <!-- 加载转换 -->
        </mvc:message-converters>
    </mvc:annotation-driven>
    <mvc:default-servlet-handler/>

    <mvc:annotation-driven conversion-service="conversionService"/>
    <!-- 日期转换器 -->
    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="com.xhy.wblog.utils.converter.DateConverter">
                    <property name="patterns">
                        <list>
                            <value>yyyy-MM-dd</value>
                            <value>yyyy_MM_dd</value>
                            <value>yyyy-MM-dd HH:mm:ss</value>
                            <!-- 在此后面还可继续添加转换的格式 -->
                        </list>
                    </property>
                </bean>
            </set>
        </property>
    </bean>

</beans>